
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<div class="container ">
 <div class="users_user_show_top">
  <h4>MyPage</h4>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class='col-lg-5'>
    <div class="users_user_show_mypage">


       <div class="row">
        <table class="users_user_show_name">
         <thead>
         <tr>
          <th>名前（姓名）</th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td ><%= @user.last_name %> <%= @user.first_name %></td>
         </tr>
         </tbody>
        </table>
       </div>

        <div class="row">
         <table class="users_user_show_name_kana">
          <thead>
          <tr>
          <th>名前（カナ）</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
          </tr>
          </tbody>
         </table>
        </div>


       <div class="row">
        <table class="users_user_show_phone_number">
         <thead>
         <tr>
          <th>電話番号</th>
         </tr>
         </thead>
         <tbody>
         <tr>
            <td><%=@user.phone_number %></td>
         </tr>
         </tbody>
        </table>
         <table class="users_user_show_email">
         <tr>
          <th>Email</th>
         </tr>
         <tr>
            <th><%= @user.email %></th>
         </tr>
         </table>
       </div>

       <div class="row">
        <table class="users_user_show_address">
         <tr>
          <th>住所</th>
         </tr>
         <tr>
             <th>郵便番号</th>
         </tr>
         <tr>
            <th><%= @user.post_front %> - <%= @user.post_back %></th>
         </tr>
         </table>
       </div>

       <div class="row">
        <table class="users_user_show_prefecture">
         <tr>
             <th>都道府県</th>
         </tr>
         <tr>
            <th><%= @user.prefecture %></th>
         </tr>
         </table>
         <table class="users_user_show_town">
         <tr>
             <th>市町村</th>
         </tr>
         <tr>
            <th><%= @user.town %></th>
         </tr>
         </table>
       </div>

       <div class="row">
        <table class="users_user_show_post_number">
         <tr>
             <th>番地</th>
         </tr>
         <tr>
            <th><%= @user.post_number %></th>
         </tr>
         </table>
         <table class="users_user_show_condo">
         <tr>
             <th>マンション名</th>
         </tr>
         <tr>
            <th><%= @user.condo %></th>
         </tr>
         </table>
       </div>
    </div>
 </div>

    <div class='col-lg-3'>
      <div class="users_user_show_down">
       <table>
        <tr>
         <div class="users_user_show_edit"><th><%= link_to " 編集 ", edit_user_path(@user),class:"btn btn-success Edit btn-rg" %></th></div>
        </tr>
        <tr>
         <th><%= link_to "購入履歴", user_orders_path(@user),class:"btn btn-primary Primary btn-rg" %></th>
        </tr>
        <tr>
         <th><%= link_to "退会申請",  "/unsubscribe/#{@user.id}",class:"btn btn-danger Destroy_book btn-rg" %></th>
        </tr>
       </table>
      </div>
    </div>



 </div>
</div>


