<div class="container clearfix">
 <div class="user_cd_index">

          <% @cds.each do |cd| %>

          <div class="cd">
              <p><span><%= attachment_image_tag cd, :jacket_image, :fill, 180, 180, format: 'jpeg' %></span></p>
            <div class="user_cd_index_cdname">
              <p><span><%= cd.name %></span></p>
            </div>
            <div class="user_cd_index_cdprice">
              <p><span><%= cd.price %></span></p>
            </div>
              <p><span><%= cd.stock %></span></p>
            <div class="cart_show">
              <p><span><%= link_to '詳細', cd_path(cd.id),class:"btn-sm btn-light btn-lg" %></span></p>
            </div>
              <%= form_for @user_cd, url: user_cds_path(cd_id: cd.id), method: :post do |cart| %>
              <div class="user_index_cart_count">
                <div class="row">
                  <div class="col-md-4">
                    <div class="user_index_count"><span><%= cart.number_field :disc_count, class:"form-control"%></span></div>
                  </div>
                    <div class="col-md-8">
                      <div class="incart"><span><%= cart.submit "カートに入れる", class:"btn-sm btn-primary " %></span></div>
                    </div>
                </div>
              </div>
          </div>
              <% end %>

          <% end %>
 </div>
</div>
