<div class="container clearfix">

  <p>
    <div id='menu'>
      <ul>
        <li class="artist"><%= link_to "アーティスト", search_path(x:'artist') %></li>
        <li class="song"><%= link_to "曲名", search_path(x:'song') %></li>
        <li class="album"><%= link_to "シングル/アルバム", search_path(x:'album') %></li>
        <li class="label"><%= link_to "レーベル", search_path(x:'label') %></li>
      </ul>
    </div>
  </p>
</div>

        <div class="container clearfix">
          <div class='search'>
          <%= form_with url: search_path, :method => 'get', local: true do |s|%>
            <div class='search_form'>
            <table>
              <% if params[:x] == 'artist' %>
                <th> アーティスト </th>
                <th><%= s.text_field :artist, class:"form-control" %></th>
                <th><%= s.submit :search, class:"btn-sm btn-secondary rounded-pill" %></th>
              <% elsif params[:x] == 'song' %>
              <th> 曲名 </th>
                <th><%= s.text_field :song, class:"form-control" %></th>
                <th><%= s.submit :search, class:"btn-sm btn-secondary rounded-pill" %></th>
              <% elsif params[:x] == 'album' %>
              <th> シングル/アルバム </th>
                <th><%= s.text_field :album, class:"form-control" %></th>
                <th><%= s.submit :search, class:"btn-sm btn-secondary rounded-pill" %></th>
              <% elsif params[:x] == 'label' %>
              <th> レーベル </th>
                <th><%= s.text_field :label, class:"form-control" %></th>
                <th><%= s.submit :search, class:"btn-sm btn-secondary rounded-pill" %></th>
              <% else %>
              <% end %>
            </table>
           </div>
          <% end %>
          </div>
        </div>

<div class="container clearfix">
<div class="user_cd_index">
          <div class="row">
              <% @cds.each do |cd| %>
              <div class="cd">
                <p><span><%= attachment_image_tag cd, :jacket_image, :fill, 180, 180, format: 'jpeg' %></span></p>
                <div class="user_cd_index_cdname">
                  <p><span><%= cd.name %></span></p>
                </div>
                <div class="user_cd_index_cdprice">
                  <p><span>¥ <%= cd.price %> (税抜)</span></p>
                </div>
                <div class="cart_show">
                  <p><span><%= link_to '詳細', cd_path(cd.id),class:"btn-sm btn-light btn-lg" %></span></p>
                  <div>
                    <div class = "iine__button_index"><%= render 'cds', cd: cd %></div>
                    <%= form_for @user_cd, url: user_cds_path, method: :post do |cart| %>
                        <%= cart.number_field :disc_count, value: 1 , min: 1, max:cd.stock.to_i,  class:"form-control"%>
                        <p><%= cart.hidden_field :cd_id, value: cd.id %></p>
                        <p><%= cart.submit "カートに入れる", class:"cartbutton btn-sm btn-primary"%></p>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
          </div>

 </div>
</div>

