<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :ディスク %>
    <%= f.number_field :disc_count, :size => 10 %><br>
      <%= link_to_remove_association "Disc削除", f %>
  </div>
  <h4>song</h4>
  <div class="songs">
    <%= f.fields_for :songs do |song| %>
      <%= render 'song_fields', f: song %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "曲の追加", f, :songs %>

    </div>
  </div>
</div>