<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :Disc枚数 %>
    <%= f.number_field :disc_count, :size => 10 , value: 1 %><br>
      <%= link_to_remove_association "削除", f %>
  </div>
  <div class="owner_cd_new_single"><%= f.label :Song %><br></div>
  <div class="songs">
    <%= f.fields_for :songs do |song| %>
      <%= render 'song_fields', f: song %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "曲の追加", f, :songs %>

    </div>
  </div>
</div>