<%= form_for @cd do |f| %>
  <div id="discs">
  	<div class="owner_cd_new_single"><%= f.label :Disc %><br></div>
    <%= f.fields_for :discs do |disc| %>
      <%= render 'disc_fields', f: disc %>
    <% end %>
    <div id="links">
      <%= link_to_add_association 'Disc追加',f, :discs %>
    </div>
  </div>
<% end %>