<div class="container clearfix">

      <div class="owner_cd_new_title">
            <h2>NEW CD</h2>
      </div>

  <%= form_for @cd, url: owners_cds_path, method: :post do |cd| %>

  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @cd, :jacket_image, fallback: "no_cd_image.jpg", size:"200x200" %>
      <%= cd.attachment_field :jacket_image, placeholder: "プロフィール画像" %>
      <%= cd.label :ステータス（販売中・販売停止中） %>
      <%= select :status, :name, Cd.statuses.keys.to_a, include_blank: true %>
      <%= cd.select :status, options_for_select(["販売中", "販売停止中"]) %>
    </div>

    <div class="col-md-4">




           
            <%= cd.label :価格（税別） %></br>
            <%= cd.text_field :price %>

        
            <%= cd.label :アーティスト名 %></br>
            <%= cd.select :artist_id, Artist.all.map{|o| [o.name, o.id]} %>

          
            <%= cd.label :シングルアルバム名 %>
            <%= cd.text_field :name %>

          
            <%= cd.label :発売日 %>
            <%= cd.date_field :released_at %>

         
             <%= cd.label :ジャンル名 %>
             <%= cd.select :genre_id, Genre.all.map{|o| [o.name, o.id]} %>

             <%= cd.label :レーベル名 %>
             <%= cd.select :label_id, Label.all.map{|o| [o.name, o.id]} %>
    
            <%= render 'form', cd: @cd %>

         
            <%= cd.submit "create" %>
      
       <% end %>
  </div>
</div>
