

<h1>NEW CD</h1>

<%= form_for @cd do |cd| %>

<h2>ジャケット画像</h2>
<%= cd.attachment_field :jacket_image, placeholder: "プロフィール画像" %>

<h2>ステータス（販売中・販売停止中）</h2>
<%= cd.select :status, options_for_select(["販売中", "販売停止中"]) %>

<h2>価格（税別）</h2>
<%= cd.integer_field :price %>

<h2>アーティスト名</h2>
<%= cd.select :artist_id, artist.all.map{|o| [o.name, o.id]} %>


<%= cd.label :price %>
<%= cd.text_field :price %>

<% end %>