<div class="container clearfix">

      <div class="owner_cd_new_title">
            <h2>NEW CD</h2>

        <%= form_for @cd, url: owners_cds_path, method: :post do |cd| %>
        <%= render 'layouts/error_messages', model: cd.object %>


        <div class="row">

          <div class="col-md-4">
            <%= attachment_image_tag @cd, :jacket_image, fallback: "no_cd_image.jpg", size:"300x300" %>
            <div class="owner_cd_new_image"><%= cd.attachment_field :jacket_image, placeholder: "プロフィール画像" %></div>
            <div class="owner_cd_new_status"><%= cd.label :ステータス（販売中・販売停止中） %></div>
            <div class="owner_cd_new_status_name"><%= cd.hidden_field :status, value: "販売停止中" %>・入荷登録時、品切れ時に自動切り替え</div>
          </div>

          <div class="col-md-4">
            <div class="owner_cd_new_single"><%= cd.label :シングルアルバム名 %><br></div>
            <div class="owner_cd_new_single_name"><%= cd.text_field :name %><br></div>
            <div class="owner_cd_new_artist"><%= cd.label :アーティスト名 %><br></div>
            <div class="owner_cd_new_artist_name"><%= cd.select :artist_id, Artist.all.map{|o| [o.name, o.id]} %><br></div>
            <div class="owner_cd_new_genre"><%= cd.label :ジャンル名 %><br></div>
            <div class="owner_cd_new_genre_name"><%= cd.select :genre_id, Genre.all.map{|o| [o.name, o.id]} %><br></div>
            <div class="owner_cd_new_label"><%= cd.label :レーベル名 %><br></div>
            <div class="owner_cd_new_label_name"><%= cd.select :label_id, Label.all.map{|o| [o.name, o.id]} %><br></div>
            <div class="owner_cd_new_release"><%= cd.label :発売日 %><br></div>
            <div class="owner_cd_new_release_day"><%= cd.date_field :released_at %><br></div>
            <div class="owner_cd_new_price"><%= cd.label :価格（税別） %><br></div>
            <div class="owner_cd_new_price_price"><%= cd.text_field :price %><br></div>
          </div>

          <div class="col-md-4">
            <div class="owner_cd_new_form"><%= link_to "アーティスト/ジャンル/レーベル登録フォーム", new_owners_create_path, class:"btn-sm btn-success " %></div>
            <div class="owner_cd_new_create"><%= cd.submit "商品登録", class:"btn-lg btn-primary " %></div>

            <div class="owner_cd_new_form"><%= render 'form', cd: cd %><br></div>

             <% end %>
          </div>
        </div>

      </div>
</div>
