<div class="container clearfix">

  <div class="row">
    <div class="col-xs-4">
      <div class="user_cd_show_top">
           <p><%= attachment_image_tag @cd, :jacket_image, fallback: "no_cd_image.jpg", size:"300x300" %></p>
      </div>

        <div class="user_cd_show_top_status">

          <div class="btn-sm btn-dark">
           <% if @cd.status = 0 %>
             <p>販売中</p>
           <% else %>
             <p>販売停止中</p>
           <% end %>
          </div>

        </div>

    </div>

    <div class="col-xs-4">
      <div class="user_cd_show_down">
        <div class="user_cd_show_single">
           <div class="user_cd_show_single_name">シングル／アルバム名</div>
             <div class="user_cd_show_single_name_name"><%= @cd.name %></div>
           <div class="user_cd_show_genre">ジャンル名</div>
             <div class="user_cd_show_genre_name"><%= @genres[0]['name'] %></div>
           <% @cd.discs.order(:disc_count).each do |disc| %>
             <div class="user_cd_show_disc_count">Disc枚数</div>
              <div class="user_cd_show_disc"><%= disc.disc_count %></div>
           <div class="user_cd_show_release">発売日</div>
             <div class="user_cd_show_release_day"><%= @cd.released_at.strftime('%Y/%m/%d') %></div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="user_cd_show_last">
        <div class="user_cd_show_artist_name">アーティスト名</div>
          <div class="user_cd_show_artist_name_name"><%= @artists[0]['name'] %></div>
        <div class="user_cd_show_label">レーベル名</div>
          <div class="user_cd_show_label_name"><%= @labels[0]['name'] %></div>
        <% disc.songs.order(:order).each do |song| %>
        <div class="user_cd_show_song_name">曲名</div>
          <div class="user_cd_show_song"><%= song.name %></div>
        <% end %>
        <% end %>
        <div class="user_cd_show_price">価格（税別）</div>
          <div class="user_cd_show_price_price"><%= @cd.price %></div>
          <%= button_to('この商品の入荷登録画面へ', new_owners_cd_arrival_path(@cd.id), method: :get) %>
          <%= button_to('編集',edit_owners_cd_path(@cd.id), method: :get) %>
          <%= button_to('削除',owners_cd_path(@cd.id), method: :delete) %>

      </div>
    </div>

  </div>


</div>