<div class="container">

      <h2>Address</h2>

      <%= form_for @deliver_address, url: user_deliver_addresses_path, method: :post do |da| %>
       <%= render 'layouts/error_messages', model: da.object %>


        <div class="field">
          <table>

            <tr>
              <th>郵便番号</th>
            </tr>
            <tr>
              <th><%= da.text_field :deliver_post_front, autofocus: true, autocomplete: "deliver_post_front" %></th>
              <th><%= da.text_field :deliver_post_back, autofocus: true, autocomplete: "deliver_post_back" %></th>
            </tr>
          </table>

          <table>
            <tr>
              <th>住所</th>
            </tr>
            <tr>
              <th><%= da.label :都道府県　%></th>
            </tr>
            <tr>
              <th><%= da.text_field :deliver_prefecture, autofocus: true, autocomplete: "deliver_prefecture" %></th>
            </tr>
          </table>

          <table>
            <tr>
              <th><%= da.label :市町村　%></th>
            </tr>
            <tr>
              <th><%= da.text_field :deliver_town, autofocus: true, autocomplete: "deliver_town" %></th>
            </tr>
          </table>

          <table>
            <tr>
              <th><%= da.label :番地　%></th>
              <th><%= da.label :マンション名 %></th>
            </tr>
            <tr>
              <th><%= da.text_field :deliver_post_number, autofocus: true, autocomplete: "deliver_post_number" %></th>
              <th><%= da.text_field :deliver_condo, autofocus: true, autocomplete: "deliver_condo" %></th>
            </tr>
          </table>
        </div>

      <%= da.submit "登録" %>

      <% end %>
</div>