

<h2>Payment</h2>

<%= form_for @order, url: user_orders_path, method: :post do |o| %>

<div class="container">
   <h2>カートの中身</h2>

     <table class="table table-striped">
      <thead>
          <tr>
            <th><P>ジャケット画像</P></th>
            <th><P>商品名</P></th>
            <th><P>価格（税別）</P></th>
            <th><P></P></th>
            <th><P></P></th>
            <th><P>購入数</P></th>
            <th><P></P></th>
            <th><P></P></th>
          </tr>
      </thead>
      <tbody>


           <% @cart.each do |cart| %>
            <tr class="new-table">
              <td><span><%= attachment_image_tag cart.cd, :jacket_image, :fill, 50, 50, format: 'jpeg' %></span></td>
              <td><span><%= cart.cd.name %></span></td>
              <td><span><%= cart.cd.price %></span></td>
              <td><span><%= cart.cd.stock %></span></td>
              <td><span><%= link_to '詳細', cd_path(cart.cd.id), class:"btn-sm btn-light Destroy_book btn-lg" %></span></td>
              <%= form_for cart, url:"/user_cds/#{cart.id}" do |carting| %>
              <td><span><%= carting.number_field :disc_count, class:"form-control" %></span></td>
              <td><span><%= carting.submit "更新", class:"btn-sm btn-light Destroy_book btn-lg" %></span></td>
              <% end %>
              <td><span><%= link_to "カートから出す", user_cd_path(cart.id), method: :delete, "data-confirm" => "本当にカートから出しますか？", class:"btn-sm btn-danger Destroy_book btn-lg" %></span></td>
            </tr>
           <% end %>



       </tbody>
     </table>
     <%= link_to "購入へ", new_user_order_path(@user) %>
</div>


    <P><%= o.hidden_field :postage, value: "500" %>送料    ¥5000</P>


        <% ["クレジットカード払い","銀行振り込み","代引き"].each do |payment| %>
            <p><label><%=o.radio_button :payment, payment%><%= payment %></label></p>
        <% end %>


    <p><%= @user.last_name %><%= @user.first_name %></p>

    <p><%= @user.post_front %><%= @user.post_back %></p>

    <p><%= @user.prefecture %><%= @user.town %><%= @user.post_number %><%= @user.condo %></p>



<% @deliver_addresses.each do |address| %>

    <p><%= address.deliver_post_front %><%= address.deliver_post_back %></p>

    <p><%= address.deliver_prefecture %><%= address.deliver_town %><%= address.deliver_post_number %><%= address.deliver_condo %></p>

<% end %>


<%= o.submit %>

<% end %>

<%= button_to('新しく配送先を登録する',new_user_deliver_address_path) %>


