<div class="container clearfix">
 <div class='owner_user_title'>
  <h4>入荷登録</h4>
 </div>

  <div class="row">
    <%= form_for @arrival, url: owners_cd_arrivals_path, method: :post do |arr| %>
      <%= render 'layouts/error_messages', model: arr.object %>



        <div class="field">
          <table>


            <tr>
                <th>
                    <%= arr.label :シングルorアルバム名 %>
                </th>
                <th>
                    <div class='arrival_name'><%= @cd.name %></div>
                </th>
            </tr>
        	<tr>
        		<th>
                    <%= arr.label :入荷日 %>
                </th>
                <th>
                    <%= arr.date_field :arrive_day %>
                </th>
            </tr>
            <tr>
            	<th>
                    <%= arr.label :入荷数 %>
                </th>
                <th>
                    <%= arr.number_field :arrive_count %>
                </th>
            </tr>
          </table>
        </div>

      <div class='arrival_bottom'>
        <%= arr.submit "登録", class:"btn-sm btn-primary "  %>
      </div>

    <% end %>
 </div>
</div>
