<div class="container clearfix">
 <div class="user_cd_index">


 	<table class="table table-striped">
          <thead>
              <tr>
                <th></th>
                <th>商品名</th>
                <th>商品数</th>
                <th>請求額</th>
                <th>支払い方法</th>
                <th>顧客名</th>
                <th>発送日時</th>
                <th>発送状況</th>
                <th></th>
              </tr>
          </thead>
          <tbody>

             <% @order.each do |o| %>
             <% o.cd_orders.each do |c| %>
		  <tr class="new-table">
              <th><%= attachment_image_tag c.cd, :jacket_image, :fill, 100, 100, format: 'jpeg'%></th>
		          <th><%= c.cd.name %></th>
              <th><%= c.disc_count %></th>
              <th>¥<%= c.price %></th>
		          <th><%= o.payment %></th>
              <th><%= o.last_name %><%= o.first_name %></th>
		          <th><%= o.shipping_day.strftime('%Y/%m/%d') %></th>
              <%= form_for o,  url:"/owners/orders/#{o.id}" do |ow| %>
              <th><%= ow.select :shipping_status,Order.statuses.keys.to_a %>
              </th>
              <th><%= ow.submit "更新", class:"btn-sm btn-light Destroy_book btn-lg" %></th>
              <% end %>
              <th><%= link_to "削除", owners_order_path(o.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger Destroy_book btn-lg" %></th>


          </tr>
              <% end %>
              <% end %>

           </tbody>
    </table>
 </div>
</div>

