<div class="container">
	<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
 <div class="row">
  <div class="col-md-8">

	  	<h3>登録フォーム</h3>

	    <%= render :partial => "owners/artists/new" %>
	    <%= render :partial => "owners/genres/new" %>
	    <%= render :partial => "owners/labels/new" %>

      <div class="create_form_link">
	    <%= link_to '新規登録画面に戻る', new_owners_cd_path %>
	  </div>

	 </div>
  </div>
 </div>
</div>
