<!DOCTYPE html>

<html>
  <head>
    <title>GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>

<header class="navbar navbar-default navbar-dark bg-dark  lg-10">
  <nav class="nav navbar-nav navbar-left">
        <h3 class="text-white" href="#">CDTOWN</h3>
  </nav>

    <nav class="nav navbar-nav navbar-center">

       <div class="input-group-sm ">

          <%= form_for cds_path, :method => 'get' do %>
          <table>
            <th><%= text_field_tag :search, params[:search], class:"form-control" %></th>
            <th><%= submit_tag "Search", :name => nil, class:"btn-sm btn-secondary rounded-pill" %></th>
          </table>
          <% end %>

       </div>

    </nav>


      <nav>
        <div class="navbar-nav w-100">
          <ul class="nav navbar-expand-lg navbar-right">

                <% if owner_signed_in? %>
              <li>
         　　　 <%= link_to "顧客一覧", owners_root_path, class:"btn btn-secondary rounded-pill" %>
              </li>
              <li>
         　　　 <%= link_to "商品一覧", owners_root_path, class:"btn btn-secondary rounded-pill" %>
              </li>
              <li>
         　　　 <%= link_to "入荷履歴", owners_root_path, class:"btn btn-secondary rounded-pill" %>
              </li>
              <li>
         　　　 <%= link_to "受注管理", owners_root_path, class:"btn btn-secondary rounded-pill" %>
              </li>
              <li>
         　　　 <%= link_to "売上管理", owners_root_path, class:"btn btn-secondary rounded-pill" %>
              </li>
              <li>
         　　　<%= link_to "Sign out", destroy_owner_session_path, method: :delete, class:"btn btn-secondary rounded-pill" %></li>

            <% elsif user_signed_in? %>
              <li>
               <div class="app_nav_home"><%= link_to " Home", root_path, class:"btn btn-secondary rounded-pill" %></div>
              </li>
              <li>
               <div class="app_nav_mypage"><%= link_to " My page", user_path(current_user.id), class:"btn btn-secondary rounded-pill" %></div>
              </li>
              <li>
               <div class="app_nav_sign_out"><%= link_to " Sign out" ,destroy_user_session_path, method: :delete, class:"btn btn-secondary rounded-pill" %></div>
               </li>

            <% else %>
              <li>
               <div class="app_nav_home"><%= link_to " Home", root_path, class:"btn btn-secondary rounded-pill" %></div>
              </li>
              <li>
               <div class="app_nav_sign_up"><%= link_to " Sign up", new_user_registration_path, class:"btn btn-secondary rounded-pill" %></div>
              </li>
              <li>
               <div class="app_nav_sign_in"><%= link_to " Log in", new_user_session_path, type:"button", class:"btn btn-secondary rounded-pill" %></div>
              </li>

            <% end %>

            </ul>
          </div>
        </nav>

</header>


    <%= yield %>

  <footer class="navbar navbar-dark bg-dark lg-10">
     <div class='container'>
      <div class='row'>
       <div class='col-xs-3 col-xs-offset-9'>
         <p class="text-white">cdtown-inc</p>
       </div>
      </div>
     </div>

  </footer>
 </body>
</html>
