<!DOCTYPE html>

<html>
  <head>
    <title>GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>


<header class="navbar navbar-dark" style="background-color:#000000;">
   <div class="container">

    <nav class="nav navbar-nav navbar-left">
      <h1 class="text-white">CDTOWN</h1>
    </nav>

     <nav class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav navbar-inverse">

        <% if owner_signed_in? %>
         <li class="">
          <li>
     　　　 <%= link_to "顧客一覧", owners_root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
     　　　 <%= link_to "商品一覧", owners_root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
     　　　 <%= link_to "入荷履歴", owners_root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
     　　　 <%= link_to "受注管理", owners_root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
     　　　 <%= link_to "売上管理", owners_root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
     　　　<%= link_to "Sign out", destroy_owner_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %></li>

        <% elsif user_signed_in? %>
         <li class="">
          <li>
           <%= link_to " Home", root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
           <%= link_to " My page", root_path, class:"glyphicon glyphicon-user users" %>
          </li>
          <li>
           <%= link_to " Sign out" ,destroy_user_session_path, method: :delete, class:"glyphicon glyphicon-log-out logout" %></li>

         <a class="fas fa-search"></a>

        <% else %>
         <li class="">
          <li>
           <%= link_to " Home", root_path, class:"glyphicon glyphicon-home home" %>
          </li>
          <li>
           <%= link_to " Sign up", new_user_registration_path, class:"glyphicon glyphicon-edit signup" %>
          </li>
          <li>
           <%= link_to " Sign in", new_user_session_path, class:"glyphicon glyphicon-log-out logout" %>
          </li>

        <% end %>

      </ul>
     </nav>
   </div>
  </header>


    <%= yield %>

  <footer class="navbar navbar-dark" style="background-color:#000000;">
     <div class='container'>
      <div class='row'>
       <div class='col-xs-3 col-xs-offset-9'>
         <p class="text-muted">cdtown-inc</p>
       </div>
      </div>
     </div>

  </footer>
 </body>
</html>
