<!DOCTYPE html>

<html>
  <head>
    <title>GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/65370e92be.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>

<header class="navbar navbar-default navbar-dark bg-dark  lg-10">
  <nav class="nav navbar-nav navbar-left">
        <h3 class="text-white" href="#">CDTOWN</h3>
  </nav>



      <nav>
        <div class="navbar-nav w-100">
          <ul class="nav navbar-expand-lg navbar-right">

                <% if owner_signed_in? %>
              <li><%= link_to "検索", search_path, class:"btn btn-default rounded-pill",style:  "color:white;" %>
              </li>
              <li>
         　　　 <%= link_to "顧客一覧", owners_users_path, class:"btn btn-default rounded-pill",style:  "color:white;" %>
              </li>
              <li>
         　　　 <%= link_to "商品一覧", owners_cds_path, class:"btn btn-default rounded-pill",style:  "color:white;" %>
              </li>
              <li>
         　　　 <%= link_to "受注一覧", owners_orders_path, class:"btn btn-default rounded-pill" ,style:  "color:white;"%>
              </li>
              <li>
         　　　<%= link_to "Sign out", destroy_owner_session_path, method: :delete, class:"btn btn-default rounded-pill",style:  "color:white;" %></li>

            <% elsif user_signed_in? %>
              <li class="log_name">
                ようこそ　<%= current_user.last_name %><%= current_user.first_name %> 様
              </li>
              <li><%= link_to "Search", search_path, class:"btn btn-default rounded-pill",style:  "color:white;" %></li>

              <div class="app_nav_home"><%= link_to "Cart", user_cds_path, class:"btn btn-default rounded-pill",style:  "color:white;" %></div>
              <li>
               <div class="app_nav_home"><%= link_to " Home", root_path, class:"btn btn-default rounded-pill",style:  "color:white;" %></div>
              </li>
              <li>
               <div class="app_nav_mypage"><%= link_to " My page", user_path(current_user.id), class:"btn btn-default rounded-pill",style:  "color:white;" %></div>
              </li>
              <li>
               <div class="app_nav_sign_out"><%= link_to " Sign out" ,destroy_user_session_path, method: :delete, class:"btn btn-default rounded-pill",style:  "color:white;" %></div>
               </li>


            <% else %>
              <li>
               <div class="app_nav_home"><%= link_to " Home", root_path, class:"btn btn-default rounded-pill" ,style:  "color:white;"%></div>
              </li>
              <li><%= link_to "Search", search_path, class:"btn btn-default rounded-pill",style:  "color:white;" %></li>
              <li>
               <div class="app_nav_sign_up"><%= link_to " Sign up", new_user_registration_path, class:"btn btn-default rounded-pill",style:  "color:white;" %></div>
              </li>
              <li>
               <div class="app_nav_sign_in"><%= link_to " Log in", new_user_session_path, type:"button", class:"btn btn-default rounded-pill",style:  "color:white;"%></div>
              </li>

            <% end %>

            </ul>
          </div>
        </nav>

</header>


<%= yield %>

<div id="page_top"><a href="#"></a></div>

<footer class="navbar navbar-dark bg-dark lg-10">
    <p class="text-white">cdtown-inc</p>
</footer>

</body>
</html>
